.cards{
    border: 1px solid rgb(41, 41, 41);
    border-radius:10px;
    min-width: 0;
    height:310px;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.cards.active{
    border-color:rgb(161, 161, 161);
}

.cards .subtitle,
.cards h1 {
    margin-left:15px;
}

.cards:not(.active) h1{
    color:rgb(201, 201, 201);
}

.subtitle{
    letter-spacing: 3px;
}

.subAndTitle{
    display:flex;
    justify-content: space-between;
    margin-top:10px;
}

.icon.topRight{
    background-color: none;
    margin-right:15px;
    margin-top:5px;
}

.icon{
    width:40px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease;
    border-radius: 50%;
}

.icon:hover{
    width:40px;
    height:40px;
    background-color: #505050;
    border-radius: 50%;
}

.cards.active .icon:hover{
    background-color: #a3a3a3;
}

.icon:active{
    background-color: #868686;
    border-radius: 50%;
}

.cards.active .icon:active{
    background-color: #777777;
    border-radius: 50%;
}

