.home-container {
    font-size:11px;
    display:flex;
    flex-direction: column;
    flex:1;
    min-width: 0;
    gap:5px;
}

.top-section{
    display: flex;
    margin: 50px 0px 0px 50px;
}

.card-section{
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap: 10px;
    justify-content:center;
}

.intro p{
    width:410px;
    text-align:justify;
}

.portrait{
    width:370px;
    margin: 0px 0px 0px 80px;
}

.intro{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    gap:10px;
}

h1, h2{
    margin: 0;
}

.download{
    display:flex;
    align-items: center;
    gap: 5px;
    padding: 17px;
    cursor:pointer;
    border-radius:25px;
    border:none;
    color:white;
    background-color:rgb(100, 100, 100);

    transition: 0.1s;
}

.download:hover{
    background-color:rgb(70, 70, 70);
}

.download.active{
    background-color:rgb(124, 148, 255);
}

.download.active:hover{
    background-color:rgb(97, 126, 255)
}

.download-link{
    text-decoration: none;
}

.card1 p{
    width:90%;
    margin-left:15px;
}

.card1-button{
    background: none;
    border:none;
    color:inherit;
    margin-right:15px;
    margin-top:5px;

    cursor:pointer;
}

.card1-button:hover{
    color:rgb(82, 82, 82);
}

.card1 ul{
    list-style-type: none;
    margin-left:15px;
    margin-top:20px;
    padding:0;

    display: flex;
    flex-direction: column;
    gap:10px;
}

.card1 li{
    display: flex;
    align-items: center;
    gap:10px;
}

.card2{
    display: flex;
    justify-content: center;
}

.card2 ul{
    list-style-type: none;
    padding:0;
    margin-top:12px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width:87%;
    gap:10px;
}

.card2 li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    border:1px solid rgb(41, 41, 41);
    border-radius:5px;
    padding: 6px
}

.card-section.active .card2 li{
    border:none;
    box-shadow: 0px 0px 4px 0px rgb(158, 158, 158);
}

.card2 svg{
    width:30px;
    height:30px;
}

.card2-button{
    background: none;
    border: none;
    color:inherit;
}