body{
  background-color: #111216;
  margin:0;
  color: rgb(180, 180, 180);
  overflow-x: hidden;
}

body:has(.toggle-switch.active){
  background-color: rgb(255, 255, 227);
  color:black;
}

.container{
  display: flex;
}

.navbar{
  width: 200px;
  height: 100vh;
  border-right: 1px solid rgb(39, 39, 39);
  /* text-align:center; */
  flex-shrink: 0;

  display:flex;
  flex-direction: column;
  align-items:center;
}

.logo{
  display:inline-block;
  margin-top:20px;
  margin-right:9px;
  font-family: "Imperial Script", cursive;
  font-size: 24px;
  cursor:pointer;
}

.navbar a{
  color:inherit;
}

.navbar li{
  display:flex;
  align-items: center;
  gap:9px;
  cursor:pointer;
  font-size:13px;

  border-radius:18px;
  padding: 10px 15px 10px 15px;

}

.navbar li svg{
  width:13px;
  height:13px;
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top:50px;
  display:flex;
  flex-direction:column;
  gap:1px;
}

.toggle-switch{
  width:50px;
  height:24px;
  border:none;
  border-radius:20px;
  background:#7c7c7c;
  position:relative;
  cursor:pointer;
  box-shadow:0px 0px 6px inset#15282b;

  transition: background 0.5s;
}

.navbar:has(.toggle-switch.active) .toggle-switch{
  background:#84abff;
}

.toggle-circle{
  width:20px;
  height:20px;
  background:#ffffff;
  border:none;
  border-radius:50%;
  position:absolute;
  top:2px;
  left:2px;
  box-shadow: 0px 0px 2px inset #202020;
  transition: transform 0.3s ease;
}

.toggle{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.toggle .MoonSun {
  position: relative;
  top: 3px;
}

.toggle .MoonSun svg {
  width: 20px;
  height: 20px;
}

.toggle-switch.active .toggle-circle{
  transform: translateX(25px)
}

.navbar .button-active{
  background: rgb(59, 59, 59);
}

.navbar:has(.toggle-switch.active) .button-active{
  background: rgb(176, 201, 255);
  color:#0051ff
}

.navbar li:hover{
  color:#5e91ff;
  transition: color 0.2s ease;
}

.navbar:has(.toggle-switch.active) li:hover{
  color:#0051ff;
  transition: color 0.2s ease;
}

.social-icons{
  display: flex;
  gap: 20px;
}

.line{
  width:130px;
  height: 1px;
  background: rgb(39, 39, 39);
}

.bottom-navbar{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:15px;
  margin-top:180px;
}

.navbar:has(.toggle-switch.active) .line{
  background: rgb(180, 180, 180);
}

.navbar:has(.toggle-switch.active){
  border-right-color: rgb(180, 180, 180);
}

.pages{
  flex: 1;
  min-width: 0;
  animation: pageEnter 0.5s ease;
}

@keyframes pageEnter {
  from {
    opacity: 0;
    transform: translateX(5%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}