body{
  background-image: url(../public/Dark\ Mode_Wallpaper.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin:0;
}

.container{
  display: flex;
  gap: 8px;
}

.navbar{
  width: 250px;
  height: 100vh;
  border-right: 3px solid white;
  text-align:center;
}

.navbar span{
  display:inline-block;
  margin-top:20px;
}

.navbar li{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:5px;
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top:50px;
  display:flex;
  flex-direction:column;
  gap:15px;
}