body{
  background-image: url(/Dark\ Mode_Wallpaper.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin:0;
}

.container{
  display: flex;
}

.navbar{
  width: 200px;
  height: 100vh;
  border-right: 1px solid rgb(39, 39, 39);
  text-align:center;
  flex-shrink: 0;
}

.navbar span{
  display:inline-block;
  margin-top:20px;
  margin-right:9px;
  font-family: "Imperial Script", cursive;
  font-size: 24px;
  cursor:pointer;
}

.navbar li{
  display:flex;
  justify-content:left;
  align-items: center;
  gap:9px;
  cursor:pointer;
  transition: color 0.2s ease;
  font-size:13px;
}

.navbar li:hover{
  color:rgb(163, 97, 97);
}

.navbar li svg{
  width:13px;
  height:13px;
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top:50px;
  display:flex;
  flex-direction:column;
  gap:20px;
  padding-left: 53px;
}